<div class="total-container">
	<div class="container-sidebar">
		<img class="profile-pic" src="/profile/usr.jpg"></img>
		<ul class="username">{{username}}</ul>
	</div>
	<div class="main-container">
		<div class="message-entry-container">
			<ul class="past-messages"> 	
			</ul>
		</div>
	</div>

</div>